/* --- Base Layout --- */
.login-container {
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 00px 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-in-out;
}

.login-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* --- Logo --- */
.login-logo {
  width: 130px;
  margin-bottom: 20px;
  animation: fadeUp 0.5s ease forwards;
    margin-top: 82px;

    
}

/* --- Onboarding Image --- */
.onboarding-container {
  display: flex;
  justify-content: center;
}

.onboarding-img {
  width: 85%;
  max-width: 380px;
  margin: 00px  30px;
  animation: fadeUp 0.5s ease forwards;
   
}

/* --- Text Section --- */
.text-section {
  margin-bottom: 25px;
}

.welcome-text {
  font-size: 28px;
  font-weight: 400;
  color: #000;
  margin-top: 10px;
  animation: fadeUp 0.5s ease forwards;
}

.subtitle-text {
  color: #333;
    font-weight: 400;
  font-size: 10px;
  margin-bottom: 25px;
}
.subtitle-text-1{
   color:#000000;
    font-weight: 400;
      font-family: "Roboto", sans-serif;
  font-size: 12px;
   opacity: 0.75; 
 margin-top: 20px;


}

/* --- Google Button --- */
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 12px;
 border: 0.25px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 90%;
  max-width: 350px;
  margin-left: 20px;
  height: 46px;
  gap: 10px;
}

.google-btn:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

.google-icon {
  width: 24.45px;
  height: 24.45px;
  margin-right: 10px;
}

/* --- Animations --- */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-2{
    background:#FFFFFF;
          padding:18px;
          border-radius:28px;
           border:1px solid #eee;
           color: rgb(255, 255, 255);



}
.fotter-text{
      font-weight: 400;
  font-size: 10px;
      margin-top: 150px;
 padding: 28px 10px;
 gap: 10px;
  opacity: 0.75; 
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --- Responsive --- */
@media (max-width: 768px) {
  .welcome-text {
    font-size: 1.8rem;
  }

  .onboarding-img {
    width: 95%;
  }

  .google-btn {
    font-size: 0.95rem;
  }
}
