

.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  padding-top: 300px;   /* 🔥 moves logo UP */
}

.splash-logo {
  width: 220px;
}

md-linear-progress {
  width: 200px;
  height: 6px;
  --md-linear-progress-active-indicator-color: #00a651;
  --md-linear-progress-track-color: #e0e0e0;
}

.splash-text {
  margin-top: 12px;
  font-family: 'Lexend', sans-serif;
  font-size: 14px;
}
