.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.splash-logo {
  width: 120px;
  margin-bottom: 24px;
}

md-linear-progress {
  width: 78px;
  border-radius: "60px";
  --md-linear-progress-active-indicator-color: #00a651;
  --md-linear-progress-track-color: #e0e0e0;
}
